<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="site.aanrstudio.apps.katalogfilm">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="site.aanrstudio.apps.katalogfilm.READ_DATABASE" android:protectionLevel="normal"/>
    <permission android:name="site.aanrstudio.apps.katalogfilm.WRITE_DATABASE" android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver android:name=".notification.AlarmNotification" android:enabled="true" android:exported="true" />

        <provider
            android:authorities="site.aanrstudio.apps.katalogfilm"
            android:name=".provider.FavoriteProvider"
            android:exported="true"
            android:readPermission="site.aanrstudio.apps.katalogfilm.READ_DATABASE"
            android:writePermission="site.aanrstudio.apps.katalogfilm.WRITE_DATABASE" />

        <activity android:name=".SearchActivity"></activity>

        <activity
            android:name=".FavoriteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".widget.FavoriteBannerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_banner_widget_info" />
        </receiver>
        <service android:name=".widget.service.StackWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>